.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
  margin: 1rem auto 3rem auto ;
  padding: 1.5rem 0;
}

.card {
    width: 15rem;
    height: 15rem;
  background: #ffffff;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  transition: all 0.35s ease;
  cursor: pointer;
  text-decoration: none;
}

.card:hover {
  transform: translateY(-5px) scale(1.03);
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}

.image {
   width: 100%;
    height: 100%;
  object-fit: contain;
  margin-bottom: 0.6rem;
  transition: transform 0.35s ease;

}

.text {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  color: #111;
}

/* ---------- Mobile ---------- */
@media (max-width: 768px) {
  .wrapper {
    padding: 1rem;
    display: flex;
    flex-direction: row;
  }

  .image {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 480px) {
  .wrapper {
        width: 100%;
        padding: 0 1rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
  }

  .card {
    padding: 0;
    margin: 0;
  }

  .image {
    width: 100%;
    height: 100%;
  }

  .text {
    font-size: 0.9rem;
  }
}
