.hero {
  height: 70vh;
  width: 100%;
  background: 
      linear-gradient(to bottom, rgba(0, 0, 0, 0.171), rgba(0, 0, 0, 0.295)),
      url('../../assets/hero.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
    opacity: 0;
  transform: translateY(20px);
  animation: fadeSlideIn 1.2s ease-out forwards;
}

@keyframes fadeSlideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.mainTitle {
  font-size: 3.8rem;
  font-weight: 800;
  color: #fff;
  text-align: center;
      margin-top: -8rem;
  line-height: 1.1;
  margin-left: 20px;
}

.briefDescription {
  position: absolute;
  bottom: 30px;
  left: 20px;
  right: 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  list-style: none;
}

.subtext {
    text-align: left;
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
}

.text {
  font-size: 1rem;
  font-style: italic;
  opacity: 0.9;
}

/* =======================
   RESPONSIVE
   ======================= */
@media (max-width: 900px) {
  .mainTitle {
    font-size: 2.8rem;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 6rem;
  }

  .briefDescription {
    bottom: 20px;
    flex-direction: column;
    text-align: center;
    gap: 15px;
  }

  .subtext {
    font-size: 1.2rem;
  }

  .text {
    font-size: 0.95rem;
  }
}

@media (max-width: 600px) {
  .hero {
    height: 70vh;
    padding: 10px;
  }

  .mainTitle {
    margin-top: -10rem;
  }

  .briefDescription {
    bottom: 20px;
    gap: 20px;
  }

  .subtext {
    font-size: 1.1rem;
  }

  .text {
    font-size: 0.9rem;
  }
}
